name: Demo Branch Main

on:
  push:
    branches:
    - main

jobs:
  teste:
    runs-on: ubuntu-latest
    steps:
      - name: Mensagem de Sucesso
        run: echo "Workflow executado na branch main!"
